<div class="col-xs-6 scrollable-div">
  <h3 class="section-headerr">Recipr</h3>
  <div class="row">
    <div class="col-xs-11">
      
      <ul class="no-bullet-list">
      </ul>
      
    </div>
  </div>
</div>