<div class="col-xs-12">
  <% unless user_signed_in? %>
    <h4>To create a new Recipe, <%=link_to('login', new_user_session_path) %> or <%=link_to('create', new_user_registration_path) %> a new account</h4>
  <% end %>
</div>