/************************************
http://www.colorzilla.com/gradient-editor/
*************************************/

/*
base styles
---------------------------------------------------------------*/
html {
   height: 100%;
   background-color: #c7daea;
}

body {
  height: 100%;
  color: #000;
  font-family: "Helvetica Neue",Arial,sans-serif;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e3e5+1,f4f8f9+1,c7daea+100 */
  background: #e0e3e5; /* Old browsers */
  background: -moz-linear-gradient(top, #e0e3e5 1%, #f4f8f9 1%, #c7daea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e0e3e5 1%, #f4f8f9 1%, #c7daea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e0e3e5 1% ,#f4f8f9 1%, #c7daea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e3e5', endColorstr='#c7daea',GradientType=0 ); /* IE6-9 */
}

table.data-grid {
  width: 98%;
  border-collapse: separate;
  border-bottom: solid 1px #CDCDCD;
  margin:1%;
}

table.data-grid th:first-child {
  border-top-left-radius: 8px;
}

table.data-grid th:first-child, table.data-grid td:first-child {
  border-left: solid 1px #CDCDCD;
}

table.data-grid th:last-child {
  border-top-right-radius: 8px;
}

table.data-grid th{
  background-color: #E6E6E6;
}

table.data-grid tbody tr:last-child {
  border-bottom: 0;
}

table.data-grid th, table.data-grid td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-top: solid 1px #CDCDCD;
  border-right: solid 1px #CDCDCD;
}

a {
  color: #207cca;
  text-decoration: underline;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.red-text {
  color: #ff0000;
}
/*--------------------------------------------------------------*/



/*
containers
---------------------------------------------------------------*/
#main-container {
  max-width: 1170px !important;
  border-top: 3px solid #838184;
  border-bottom: 3px solid #3F3F3F;
  border-left: 3px solid #666;
  border-right: 3px solid #2F2F2F;
  padding: 0 !important;
  -webkit-box-shadow: 9px 10px 16px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 16px -10px rgba(0,0,0,0.75);
  box-shadow: 9px 10px 16px -10px rgba(0,0,0,0.75);
}

.header {
  /*max-width:1170px;*/
  max-height:305px;
}

.header-logo {
  background:url(/assets/layout_images/header_background.jpg) no-repeat center top scroll;
  background-size: 100% auto;
  padding-bottom: 50%;
}

.spinner-container {
  float: left;
  width: 16px;
  height: 16px;
}

.loading-left {
	display: none;
	float: left;
	width: 14px;
	height: 14px;
	background: url(/assets/layout_images/spinner_small.gif) no-repeat center #fff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .header {
    max-height:260px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header {
    max-height:210px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header {
    max-height:190px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .header {
    max-height:130px;
  }
}
/*--------------------------------------------------------------*/



/*
navigation paths
---------------------------------------------------------------*/
.pages-nav {
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  /*background-color: #1C1F22;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b6b6d+4,1c1f22+100,1e5799+100 */
  background: #5b6b6d; /* Old browsers */
  background: -moz-linear-gradient(top,  #5b6b6d 4%, #1c1f22 100%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #5b6b6d 4%,#1c1f22 100%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #5b6b6d 4%,#1c1f22 100%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6b6d', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.pages-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display:table-row;
}

.pages-nav ul li {
  width:auto;
  display: inline;
  display:table-cell;
  border-left: 1px solid #666;
  border-right: 2px solid #666;
}

.pages-nav ul li a {
  color: white;
  float: left;
  font-size: 16px;
  padding: 15px;
  display: table;
  text-decoration: none;
}

.pages-nav ul li a:hover {
  color:#fff;
  background-color:#709698 !important;
}

.pages-nav ul li a:visited {
  background-color:#0b75b2; 
}

.odd { background-color: #e0e3e5; }

.even { background-color: #f4f8f9; }
/*--------------------------------------------------------------*/



/*
pagination styles
-----------------------------------------------------------------*/
#pagination.pagination a {
	color:#709698;
	text-decoration:underline;
}

#pagination.pagination a:hover {
	color:#66CC99;
	text-decoration:underline;
}

#pagination.pagination {
	font-size:14px;
	text-decoration:none;
}

.previous_page {
	font-size:14px;
	text-decoration:none !important;
}

.next_page {
	font-size:14px;
	text-decoration:none !important;
}

.current {
	color:#000;
	font-size:14px;
	text-decoration:none;
}

#pagination.current {
	color:#ffff00;
	text-decoration:none;
}
/*---------------------------------------------------------------*/


/*
alert styles
---------------------------------------------------------------*/
.alert-success {
  background-color: #DFF0D8;
  border-color: #D0E9C6;
  color: #3C763D;
}

.alert {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 15px;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #BCDFF1;
  color: #31708F;
}

.alert-warning {
  background-color: #FCF8E3;
  border-color: #FAF2CC;
  color: #8A6D3B;
}

.alert-error {
  background-color: #F2DEDE;
  border-color: #EBCCCC;
  color: #A94442;
}
/*--------------------------------------------------------------*/



/*
element styles
---------------------------------------------------------------*/
ul.no-bullet-list, ol.no-bullet-list  {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display:table-row;
}

ul.no-bullet-list ul, ol.no-bullet-list ul {
  width:auto;
  display: inline;
  display:table-cell;
  border-left: 1px solid #666;
  border-right: 2px solid #666;
}
/*--------------------------------------------------------------*/
