<% 
index = f.object_name.gsub(/[^0-9]+/,'')
%>

<div class='col-xs-8 padding-10 background-light-grey' id='step_<%=index %>'>
  <%=f.input :step_name, input_html: { size: 80 } %>
</div>
<div class='col-xs-4 padding-10 background-light-grey'>
  <%=link_to_remove_fields('Remove Step', f, "step_#{index}") %>
</div>
